/*----------------
全体
-----------------*/
#wrapper{
    padding: 68px;
}
/*--------------------------------
ヘッダー
---------------------------------*/
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86vh;
  }
  
  #header .logo {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
  }
  
  #header .logo-title {
    font-family: "Open sans", sans-serif;
    font-size: 64px;
    line-height: 1;
    letter-spacing: .2em;
  }
  
  #header .logo-desc {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    letter-spacing: .2em;
    /*--------------------------------
 グローバルナビ
---------------------------------*/

#gnav {
    background-color: #fff;
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  }
  
  #gnav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  
  #gnav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #gnav li {
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    padding: 0 24px;
    letter-spacing: .05em;
  }
  
  #gnav li a {
    position: relative;
    display: inline-block;
    padding: 20px 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #333;
  }
  
  #gnav li a:hover {
    opacity: 1;
  }
  
  #gnav li a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    content: "";
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #333;
  }
  
  #gnav li a:hover::after {
    width: 100%;
  }